@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
          
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
--principal:'Oleo Script Swash Caps', system-ui;
--tudo:'Roboto', sans-serif;

}
*{
padding: 0%;
margin: 0%;
box-sizing: border-box;   
font-family: var(--tudo);

}

body{

   background-image: url(imagens-p2/fundo.png);
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
   
   width: 100vw;
   overflow-x: hidden;

}
main{
    width: 100vw;
    overflow-x: hidden;
}

header{
   padding: 4%;
   text-align: center;
   margin-top: 3%;
   width: 100vw;
    align-items: center;
   background-color: rgba(245, 248, 255, 0.692);
}

header > a{
   margin: 4%;
   text-decoration: none;
   box-sizing: border-box;
   font-size: 20px;
   font-weight: 50px;
}

header >:hover{
   color: blueviolet;
   
   
}
header strong{
   font-family: var(--principal);
   font-size: 30px;
   color: rgb(48, 23, 139);}

h1{
    margin-top:3% ;
    margin-bottom:3%;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    font-family: var(--principal);
    text-shadow: 2px 7px  12px #00000065;
   
    text-decoration:wavy;
    font-size: 40px;
    
}
.why{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
    

}

.cx{
    background-color: white;
    width: 370px;
    height: 484px;
    border-radius: 2%;
    box-shadow: 2px 7px  12px #0000005e;
    margin-left: -1%;
    
    
}

.cx  p{
    width: 310px;
    margin-top:15%;
    align-items: center;
    margin-left:  7%;
    font-size: 17px;
    color:#070107 ;
}
.cx-image{
    
}
.cx-image img{
    width: 400px;
    height: 515px;
}

