@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0%;
    padding: 0%;
   
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

:root{
    --principal:'Oleo Script Swash Caps', system-ui;
}

 body{
    background-color: #5daddb;
 }
header{
    /* margin-top: 50px; */
    margin-top: 3%;
    
    background-color: rgba(255, 255, 255, 0.658);
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
   
    justify-content: space-between;

}

 a{
    justify-content: space-between;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
    
    font-size: 20px;
    font-weight: bolder;
    text-transform: lowercase;
    
 }

 .central{
   color: rgb(73, 37, 141);
   margin: 44px;

   font-weight: lighter;
   font-size: 30px;
   font-family: var(--principal);
   text-transform: capitalize;
   
 }
 a:hover{
   background-color: rgba(111, 48, 163, 0.349);
   background-image: linear-gradient(to top, rgba(60, 12, 100, 0), rgba(106, 24, 139, 0));
   border-radius: 20px;
   
   color: white
 }
 .work{
      margin-top: 300px;
      color: white;
      font-size: 67px;
      font-family: var(--principal);
      text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.493);
 }
 section.imagem{
    margin-top: -20px;
    padding: 30vh;
    background-image: url(imagens/dimitri-iakymuk-mCR10j_B6sM-unsplash.jpg);
    background-repeat: no-repeat;
    
   
    background-size: cover;

 }
 section.imagem > p{
   color: white;
   font-size: 300%;
   font-weight: bolder;
   text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.493);
   font-family: var(--principal);
   text-transform: capitalize;

 }

 section p{
    margin: 40px;
    /* text-shadow:1px 8px 11px black ; */
    text-align: center;
 }

 .p01{
    text-align: center;
 }

.block{
    display: flex;
    padding: 10px;
    margin: auto;
    padding: 30px;
    margin-bottom: 100px;

 }
 .bl1,.bl2,.bl3 {
    height: 241px;
    width: 300px;
    padding: 10px;
     margin: auto;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 50px;
    color: rgb(138, 87, 187);
 }

 .bl3t{
  
   text-align: center;
   font-size:15px ;
 }


 h1{
    text-align: center;
    margin: 10px;
 }


    /* margin: auto;
    height: 500px;
    width: 100vh;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-items:center ;
    align-items:flex-start ;
    justify-content:end ;
    flex-direction: row-reverse ;
    background-color:white; */

.apresentacao{
   display: flex;
   background-color: white;
   margin: auto;
   flex-direction: row-reverse;
   width: 100vh;
   padding: 5%;

}

.img01{
   display: flex;
   height:30%;
   width: 30%;
   margin: 5%;
   margin-top: 20%;
}