@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
          
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap') ;




:root{
  --principal:'Oleo Script Swash Caps', system-ui;
  --tudo:'Roboto', sans-serif;
  --serif2: "Noto Serif", serif;

  --Bungee: "Bungee", sans-serif;
}
*{  
margin: 0;
padding: 0;
font-family: var(--serif2);



box-sizing: border-box;

body{

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--Bungee);
  
  width: 100vw;
  overflow-x: hidden;

}
body{
overflow-x: hidden;

min-height: 100vh;

background-position: center;
background-repeat: no-repeat;
background-size: cover;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 


}

main{
background-image:url();
background-attachment: fixed;
background-position: center;
background-size: cover;
}




header{

color: beige;

font-family: var(--Bungee);
font-size: 10px;

}
nav{
  font-size: 11%;
  font-weight: 900;
  background-color: #ffffff13;
font-family: var(--Bungee);
font-size: 12px;
margin-top: 2%;
color: beige;


box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
color: beige;
padding: 2%;
width: 100%;
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
font-weight: 100%
}
nav li{
color: beige;
height: 50px;
font-weight: 100%
}
nav a{
  font-weight: 900;
color: rgb(192, 103, 181);
height: 100%;
padding: 0 90px;
text-decoration: none;
display: flex;
align-items: center;
text-transform: uppercase;
 font-size: 89%;

}
nav a:hover{

background-color: #46232362;
}
nav li:first-child{
margin-right: auto;
}
.sidebar{
  position: fixed;

top: 0; 
right: 0;
height: 100vh;
width: 250px;
background-color: rgba(59, 39, 39, 0.308);
backdrop-filter: blur(12px);
box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
list-style: none;
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.sidebar li{


width: 100%;
}
.sidebar a{

width: 100%;
}
.menu-button{
font-family: var(--Bungee);
display: none;
}
@media(max-width: 800px){
.hideOnMobile{
  display: none;
}
.menu-button{
  display: block;
}
}
@media(max-width: 400px){
.sidebar{
  width: 100%;
}
}

.logo-lotus{
  color: beige;

  width: 100px;


}



  
  

.fundo{
    width: 900px;
    height: 1000px;
     background-color: #49466F;
  
  }
  .logo{
     margin-top: -50px;
     width: 150px;
  }

  .logo-lotus{
    color: beige;
    
    width: 100px;
    
    
    }



 
.why-hire-us{
  background-image: url(assets/img/Design\ sem\ nome-fotor-bg-remover-20240328234833\ 1.png);
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;

}

.why-hire-us > h1{
  position: absolute;
  top: 50%;
  right: 35%;
  margin: auto;
  font-size: 300%;
  color: rgb(30, 89, 54);
}

.cx > p  {

  background-color: rgba(254, 255, 225, 0.556);
  backdrop-filter: blur(12px);
  padding: 7%;
  border-radius: 8px 30px 8px 80px;
}

.cx > h1{
  background-color: rgba(254, 255, 225, 0.556);
  backdrop-filter: blur(12px);
  padding: 7%;
  border-radius: 8px 30px 8px 80px;

}
.cx  {
  top: 30%;
  left: 10%;
  position: absolute;
  
  
  width: 600px;
  height: 00px;
}




.leaves-back{
  background-image: url(assets/img/lotus_abstract_illustration_by_sanshow_dgpl19v-fullview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.cx2{
  background-color: antiquewhite;
padding-top:10% ;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.organizar-a-casa{
  width: 400px;
  height: 400px;
  margin-right:10% ;
}

.cx2 > p{
    margin: auto;
}

.txt > p {
  padding:10% ;
  width: 400px;
}

span{
  font-size: 200%;
  font-weight: 900;
  color: rgb(230, 194, 151);
}


@media(max-width: 800px){
  .cx{
     top: 10%;
     width: 50%;
  }
  .why-hire-us > image{
    display: none;
  }

  .pink-frasco{
    display: none;
  }
  }
  @media(max-width: 400px){
  .cx > p{
    font-size: 20%;
  }